@charset "utf-8"; /* CSS Document */
/* 푸터 */
#footer {
    padding:calc(var(--sec_pd) / 2) 0px  var(--sec_pd);
    /*line-height: 1.1 !important*/
	line-height: 1.8!important;

}
#footer a { color: inherit!important; }
	/* 푸터 - 로고 */
	#footer .footer_logo_img {
		/*height: 28px;*/		
		width:220px;
	}
#footer ul.ul-bar{
	line-height: 1.6!important;
	padding-inline-start: 0.75rem;
	list-style-position: outside;
}
ul.ul-bar li::marker {
	content: "-  ";
	color: #ffffff!important;
}

/* ==================== 해상도 1380px 이상 ==================== */
@media screen and (min-width: 1280px) {
}


/* ==================== 모바일 레이아웃 ==================== */

@media ( max-width: 1280px ) {
	#footer div.fs_16.d_flex.gap8{
		flex-direction: column;
		gap:0.5rem!important;
		margin-bottom: 1.5rem
	}
	.fs_16.fc_g_8.regular.mt20 > .p_ver{
		display: none!important;
	}
}

@media ( max-width: 900px ) {
	#footer .wrap {
		padding:0 2rem!important;
		flex-direction: column;
		/*gap:8px;*/
    }

	div ~ .fs_20{
		margin-bottom: 10px;
		line-height: 1.3
	}
}

@media ( max-width: 600px ) {
	/* 푸터 */
	#footer {
		padding-bottom:calc(var(--sec_pd) * 1.5);
	}
	.footer_logo_img{
	 /*height: 22px!important*/
	}
}

/* ==================== oneWaySend ==================== */

@media screen and (max-width: 375px) and (orientation:portrait) {

    /* 푸터 - 텍스트 */
    #footer .txt_ctr {
        font-size: 0.85em;
    }

}
/* ========================================================================== */

