@charset "utf-8"; /* CSS Document */

	/* 신청 폼 - 폼 박스 */
    #form_mini .form_box {
        width: 100%;
    }

        #form_mini [id$="fieldset"] > input,
        #form_mini [id$="fieldset"] > select {
            width: 100%;
            height: 32px;
            padding: 0 0.5rem !important;
            background-color: var(--gray_f5) !important;
			font-size: 0.9375rem; 
			border: none;
			color: var(--gray_8)!important;
			border-radius: calc(var(--br_s) / 1.7); 
        }
 #form_mini [id$="fieldset"]:focus-within > input, 
 #form_mini [id$="fieldset"]:focus-within > select { border: solid 1px var(--point);  }

		    #form_mini input::placeholder {
			white-space: pre;
			overflow-wrap: normal;
			overflow-x: hidden;
			overflow-y: visible;
			line-height: initial;
				
		}
        #form_mini [id$="fieldset"] .fieldset_label {
            display: none !important;/*라벨숨기기*/
        }
    /* 신청 폼 - 필드셋 */
    #form_mini [id$="fieldset"] {
		width: 100%;
		max-width: auto;
    }

/* 신청 폼 - 개인정보수집이용동의 */
#form_mini .agree_set .checkbox_txt {
    width: auto;
}
/*자세히*/
#form_mini .agree_set a {
    color: inherit;
    margin-right: 0.25rem;
}
#form_mini .agree_set a:hover{
	color: var(--gray_3);
}

#form_mini .agree_set .checkbox_ctr {
    width: 16px;
	
}



/* 신청 폼 - 신청 버튼 */
#form_mini .form_btn {
    width: 100%;
    height: 32px;
	border-radius: calc(var(--br_s) / 1.7);
	transition: all var(--q_trans);
}
    #form_mini .form_btn:hover {
        background-color: #bc5df3;
		box-shadow: 0 0.1rem 0.25rem 0 rgba(0,0,0,0.25);
    }


/* ==================== 해상도 1380px 이상 ==================== */
@media screen and (min-width: 1280px) {
}
/* ==================== 모바일 레이아웃 ==================== */

@media ( max-width: 1280px ) {
}


@media ( max-width: 900px ) {
	

}

@media ( max-width: 600px ) {

}
/***** 가로모드 *****/
@media screen and (orientation: landscape) and ( max-width: 900px ) {
}
