@charset "utf-8"; /* CSS Document */
#toggleButton {
    display: none;
    visibility: hidden
}
/* 헤더 */
#header {
    position: fixed;
    width: 100%;
    top: 0;
    transition: top 0.2s ease-in-out;
    z-index: 999 !important;
    background-color: var(--white);
}

    #header.hidden {
        transition: all 0.3s ease-in;
        background: linear-gradient(to bottom, rgba(255,255,255,1) 80%, rgba(255,255,255,0));
    }

    #header .nav_area {
        height: var(--header_h);
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        transition: all var(--q_trans);
    }
    /* 헤더 - 스크롤 내렸을 때 */
    #header.active {
        box-shadow: 0 0.5rem 1rem 0 rgba(0,0,0,0.1);
    }

        #header.active .nav_area {
            height: calc(var(--header_h) / 2);
        }


    /* 헤더 - 로고 */
    #header .top_logo_pack {
        align-items: center;
    }

    #header .logo {
        display: inline;
        width: 163px;
        height: 38px;
        transition: all 0.3s ease-in-out;
    }

        #header .logo img {
            width: inherit;
            height: inherit;
        }

    #header .top_logo_txt {
    }

    #header .top_kcsi {
        height: 28px;
    }

    /* 헤더 - 콜버튼 */
    #header .top_call {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 5px;
        background-color: var(--navy);
        padding: 0.5rem 1.5rem;
        transition: background var(--q_trans)/*큐빅*/
    }

        #header .top_call:hover {
            background-color: var(--point);
        }

        #header .top_call img {
            max-width: 24px
        }


    #header .header_menu {
        display: inline-flex;
        align-items: center;
        justify-content: flex-end;
    }

        #header .header_menu a:hover {
            font-weight: 800
        }


/* ==================== 해상도 1380px 이상 ==================== */
@media screen and (min-width: 1280px) {
    /* 헤더 */
    #header {
        position: fixed;
        width: 100%;
        z-index: 5;
        top: 0;
    }

        #header.hidden {
            overflow: hidden !important;
            /*top: 0rem;
            overflow: hidden !important;*/
            /*padding: 1rem 0 0;*/
        }


        /* 헤더 - 메뉴 */
        #header .header_menu {
            display: inline-flex;
            align-items: center;
            justify-content: space-between;
            margin-right: 0.5rem;
        }

            #header .header_menu .dropdown {
                position: relative;
                transition: all 0.3s ease-in-out;
            }
        /* 헤더 - 메뉴 아이콘 */
        #header .hamburger {
            display: none;
            order: 1
        }

        /* 헤더 - 토글 */
        #header .header_menu .toggle {
            display: flex;
            align-items: center;
            height: 80px;
            color: inherit;
            font-weight: 500;
            /*color: var(--gray_6);*/
            padding: 0 1.5rem;
            transition: all var(--transition);
            text-align: center;
            position: relative;
            flex-direction: column;
            justify-content: center;
        }

            /*네비색*/
            #header .header_menu .toggle p {
                color: var(--gray_6);
            }

            #header .header_menu .toggle:hover p {
                color: var(--red_dark);
                /*border-bottom: 2px solid var(--red_dark);*/
                text-decoration: underline;
                text-underline-offset: 10px;
                text-decoration-thickness: 2px;
            }

    .navOn p {
        text-decoration: underline !important;
        text-underline-offset: 10px !important;
        text-decoration-thickness: 2px !important;
    }

    /* 헤더 - 드롭다운 */
    #header .header_menu .dropdown .dropdown_menu {
        max-height: 0;
        transition: all 0.3s ease-in-out;
        position: absolute;
        top: 80px;
        left: 0;
        opacity: 0;
        width: 100%;
        background-color: var(--white);
        box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
        border-radius: 0 0 var(--br_s) var(--br_s);
        z-index: 0;
        border-top: solid 1px var(--border_white);
        padding: 1rem 0;
        overflow: hidden;
    }

    #header .header_menu .dropdown:hover .dropdown_menu {
        max-height: 1000px;
        opacity: 1;
        overflow: hidden;
    }

    #header .header_menu .dropdown .dropdown_menu a {
        display: block;
        width: 100%;
        color: #666;
        text-decoration: none;
        transition: all 0.3s ease-in-out;
        text-align: center;
        padding: 1rem;
        position: relative;
        z-index: 2;
    }

        #header .header_menu .dropdown .dropdown_menu a:hover {
            color: var(--red);
        }
}


/* ==================== 모바일 레이아웃 ==================== */
@media ( max-width: 1280px ) {
    /* 헤더 */
	#header.active .nav_area {
		height: var(--header_h);
	}

    #header .top_kcsi {
        display: none;
    }

    #header.hidden {
        /*top: -100px; 
		position: fixed;
        top: 0;*/
    }
    /* 헤더 - 메뉴 */
    #header .header_menu {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        position: fixed;
        width: 0;
        height: 100vh;
        top: 0;
        right: 0;
        background-image: var(--gradientRB);
        z-index: 3;
        overflow: hidden;
        opacity: 0;
        transition: var(--transition);
        padding: 10rem 1.5rem 0rem;
    }

        #header .header_menu.active {
            top: 0;
            right: 0;
            width: 100%;
            color: var(--white);
            opacity: 1;
            overflow-y: hidden;
            touch-action: none;
        }
        /* 헤더 - 토글 */
        #header .header_menu .toggle {
            display: block;
            text-align: left;
            position: relative;
            font-size: 1.2em;
            color: var(--white);
            width: 100%;
            border-bottom: solid 1px rgba(255,255,255,0.15);
        }

        #header .header_menu .menu:last-of-type {
            padding-bottom: 5rem;
            border: none;
        }
        /* 헤더 - 드롭다운 */
        #header .header_menu .dropdown {
            width: 100%;
            opacity: 0;
            transition: all 0.3s ease-in-out;
            margin-bottom: 2rem;
        }

            #header .header_menu .dropdown:last-of-type {
                margin-bottom: 0;
            }

        #header .header_menu.active .dropdown {
            opacity: 1;
        }

        #header .header_menu .dropdown .dropdown_menu {
            max-height: 0;
            opacity: 0;
            overflow: hidden;
            transition: 0.3s ease-in-out;
            text-align: center;
            background-color: rgba(255,255,255,0.1);
            width: 100%;
        }

            #header .header_menu .dropdown .dropdown_menu.active {
                max-height: 300px;
                opacity: 1;
            }

            #header .header_menu .dropdown .dropdown_menu a {
                display: inline-block;
                width: 100%;
                opacity: 0;
                transition: opacity 0.3s ease-in-out;
                color: var(--white);
                text-align: left;
                margin: 0.75rem 0;
                font-size: 1.05em;
                padding: 0 1.5rem;
            }

                #header .header_menu .dropdown .dropdown_menu a:first-of-type {
                    margin-top: 2rem;
                }

                #header .header_menu .dropdown .dropdown_menu a:last-of-type {
                    margin-bottom: 2rem;
                    padding-bottom: 0;
                }

            #header .header_menu .dropdown .dropdown_menu.active a {
                opacity: 1;
            }
        /* 헤더 - 드롭다운 토글 */
        #header .header_menu .dropdown .dropdown_toggle::after {
            content: "+";
            font-weight: 300;
            font-size: 1.4em;
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            transition: var(--transition);
        }

        #header .header_menu .dropdown .dropdown_toggle.active::after {
            content: "-";
        }
    /* 헤더 - 메뉴 아이콘 */
    #header .hamburger, #header .hamburger .line {
        display: inline-block;
        transition: all .4s;
        box-sizing: border-box;
    }

    #header .hamburger {
        position: relative;
        width: 46px;
        height: 40px;
        z-index: 10;
        transform: scale(0.5);
        transform-origin: right;
        cursor: pointer;
        display: inline-block;
    }

        #header .hamburger .line {
            position: absolute;
            left: 0;
            width: 100%;
            height: 4px;
            background-color: #333;
            border-radius: 4px;
        }

            #header .hamburger .line:nth-of-type(1) {
                top: 0;
            }

            #header .hamburger .line:nth-of-type(2) {
                top: 18px;
            }

            #header .hamburger .line:nth-of-type(3) {
                bottom: 0;
            }

        #header .hamburger.active .line {
            background-color: var(--white);
        }

            #header .hamburger.active .line:nth-of-type(1) {
                -webkit-transform: translateY(18px) rotate(-45deg);
                transform: translateY(18px) rotate(-45deg);
            }

            #header .hamburger.active .line:nth-of-type(2) {
                opacity: 0;
            }

            #header .hamburger.active .line:nth-of-type(3) {
                -webkit-transform: translateY(-18px) rotate(45deg);
                transform: translateY(-18px) rotate(45deg);
            }
    /* 헤더 - 로고 */
    #header .logo {
        width: 120px;
        height: auto;
    }

    #header .top_call,
    #header .hamburger.active ~ .logo {
        z-index: 4
    }

        #header .hamburger.active ~ .logo .logo_img {
            filter: brightness(0) invert(1);
        }
}

@media ( max-width: 900px ) {
    /* 헤더 */

    /* 헤더 - 토글 */
    #header .header_menu .toggle {
        padding: 2rem 0 1.65rem;
        min-height: 50px !important;
    }

        #header .header_menu .toggle p {
            font-size: 1.5rem;
            color: var(--white);
        }
    /* 헤더 - 로고 */
    #header .logo {
        width: 100px;
        height: auto;
    }
}

@media ( max-width: 600px ) {
}
/***** 가로모드 *****/
@media screen and (orientation: landscape) and ( max-width: 900px ) {

    /* 헤더 - 메뉴 아이콘 */
    #header .hamburger.active {
        top: -2.5rem !important;
    }

    /* 헤더 - 메뉴 */
    #header .header_menu.active {
        overflow-y: auto;
        touch-action: auto;
    }

    /* 헤더 - 토글 */
    #header .header_menu .menu:last-of-type {
        padding-bottom: 0;
    }

    /* 헤더 - 드롭다운 */
    #header .header_menu .dropdown .dropdown_menu a {
        font-size: 1em;
    }
}

/* ==================== oneWaySend ==================== */


@media only screen and (min-width: 300px) and (max-width: 850px) {
}

@media screen and (max-width: 375px) and (orientation:portrait) {
    /* 헤더 - 토글 */
    #header .top_logo_pack {
        /*flex-wrap: wrap;*/
    }

    #header .header_menu .toggle {
        padding: 1.65rem 0 2rem;
    }

    #header .header_menu .dropdown .dropdown_menu a {
        font-size: 1em;
    }
}
/* ========================================================================== */
